.grid {
	margin-top: 8px;
	flex: auto;
	display: flex;
	flex-flow: row wrap;
	aspect-ratio: 1 / 1;
	max-height: 95vh;
}

.block {
	box-sizing: border-box;
	border: 1px solid black;
}

.hovered {
	background-color: aqua;
}