.grid {
	flex: auto;
	display: flex;
	flex-flow: row wrap;
	border: 1px solid black;
	aspect-ratio: 1 / 1;
	max-height: 95vh;
}

.block {
	box-sizing: border-box;
	border: 1px solid black;
	height: 6.25%;
	width: 6.25%;
}

.hovered {
	background-color: aqua;
}